/* PortfolioMain.css */

.portfolio-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
}

.portfolio-grid {
    display: flex;
    gap: 20px;
    max-width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: auto;
    max-width: 400px;
}

.text-card {
    flex: 1;
    min-width: 700px;
}

.text-card .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color:rgb(255, 255, 255);
}

.text-card .subtitle {
    font-size: 18px;
    color: rgb(202, 69, 69);
}

.text-card .description {
    font-size: 16px;
    color: #c0bbbb;
    margin-top: 10px;
}

.image-card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
.profile-image {
    width: 550px;
    height: auto;
    object-fit: cover;
    padding-left: 150px;
    
    border-radius: 10%; /* Rounded corners */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Adding shadow */
    animation: moveLeftRight 3s ease-in-out infinite; /* Apply the animation */
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0); /* Start at the original position */
    }
    25% {
        transform: translateX(-10px); /* Move a bit to the left */
    }
    50% {
        transform: translateX(20px); /* Move 2 times further to the right */
    }
    75% {
        transform: translateX(-10px); /* Move a bit to the left again */
    }
    100% {
        transform: translateX(0); /* Return to the original position */
    }
}
